# OpenRouter API Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENAI_BASE_URL=https://openrouter.ai/api/v1

LLM_MODEL=nex-agi/nex-n2.5-mini:free
VISION_MODEL=nex-agi/nex-n2.5-mini:free

# Local Embedding Model
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

# Storage Folders
UPLOAD_DIR=./uploads
OUTPUT_DIR=./output
RAG_DIR=./rag_storage
